.filters-navbar {
    width: 100%;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 110px;
    left: 0;
    z-index: 9;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.filters-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.filters-box h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #b46338;
    margin-right: 15px;
}

.filters-box label {
    font-size: 0.95rem;
    font-weight: 600;
    color: #7a5b49;
    text-align: center;
}

.filters-box select,
.filters-box input {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #fafafa;
    outline: none;
}

.clips-page {
    max-width: 1300px;
    margin: 240px auto 120px auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.clip-card {
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 20px;
}

.clip-card video {
    width: 100%;
    height: 300px;
    border-radius: 14px;
    object-fit: cover;
}

.publish-date {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}